{% extends 'base.html' %}
{% block title %} BillingApp - Editeaza factura intrare {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="alert alert-dark" role="alert">
        <i><h2>Modifica factura de intrare.</h2></i>
        </div>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div align="center">
                Serie: {{ form.series }}
                Nr: {{ form.number }}
            </div>
            <br>
            <div align="center">Data: {{ form.date }}</div>

            <div class="parent">
                <div class="child" align="left">
                <b>Client</b><br>
                {% for company in your_company %}
                    <i>Nume:</i> {{ company.nume }}<br>
                    <i>CUI:</i> {{ company.cod_fiscal }}<br>
                    <i>Nr. Inregistrare:</i> {{ company.cod_onrc }}<br>
                    {% if company.address_other_info == None %}
                    <i>Adresa:</i> judetul {{ company.judet }}, loc. {{ company.localitate }}, str. {{ company.street }}, nr. {{ company.street_no }}<br>
                    {% else %}
                    <i>Adresa:</i> judetul {{ company.judet }}, loc. {{ company.localitate }}, str. {{ company.street }}, nr. {{ company.street_no }}, {{ company.address_other_info }}
                    {% endif %}
            {% empty %}
                Completati datele firmei dumneavoastra <a href="{% url 'user_company' %}">aici</a>
            {% endfor %}
                </div>
                <div class="child" align="right">
                    <b>Furnizor</b><br>
                    <i>Nume:</i> {{ form_2.nume }}<br>
                    <i>CUI:</i> {{ form_2.cod_fiscal }}<br>
                    <i>Nr. Inregistrare:</i> {{ form_2.cod_onrc }}<br>
                    <i>Adresa:</i> {{ form_2.adresa }}
                </div>
            </div>
            <br>
            <div>
                Bun/serviciu: {{ form.product_name }}
                Pret unitar: {{ form.price }}
                UM: {{ form.unit }}
                Cantitate: {{ form.quantity }}<br><br>
                Valoare: {{ form.price_quantity }}
                Cota TVA (%): {{ form.vat_rate }}
                TVA: {{ form.vat_ammount }}
                Total de plata: {{ form.total_pay }}
            </div>
            <br>
            <div align="right">
                <input type="submit" value="Salveaza" class="btn btn-outline-success btn-sm">
                <a href="{% url 'entry_invoice_list' %}" class="btn btn-outline-danger btn-sm">Anuleaza</a>
            </div>
            </form>
    {% else %}
        <h1>Ups, nu ai voie aici...</h1>
    {% endif %}
{% endblock %}