{% extends 'base.html' %}
{% block title %} BillingApp - Firma ta {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h2>Modifica factura de iesire.</h2>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% if form_2 %}
                    <b><p>Client</p></b>
                    {{ form_2.as_p }}
                {% endif %}

                    <b><p>Furnizor</p></b>
                {% for company in your_company %}
                    <p>Nume: {{ company.nume }}</p>
                    <p>CUI: {{ company.cod_fiscal }}</p>
                    <p>Nr. Inregistrare: {{ company.cod_onrc }}</p>
                    {% if company.address_other_info == None %}
                    <p>Adresa: judetul {{ company.judet }}, loc. {{ company.localitate }}, str. {{ company.street }}, nr. {{ company.street_no }}</p>
                    {% else %}
                    <p>Adresa: judetul {{ company.judet }}, loc. {{ company.localitate }}, str. {{ company.street }}, nr. {{ company.street_no }}, {{ company.address_other_info }}</p>
                    {% endif %}
                {% endfor %}

                <input type="submit" value="Salveaza" class="btn btn-outline-secondary btn-sm">
                <a href="{% url 'exit_invoice_list' %}" class="btn btn-outline-danger btn-sm">Anuleaza</a>
            </form>
    {% else %}
        <h1>Ups, nu ai voie aici...</h1>
    {% endif %}
{% endblock %}