{% extends 'base.html' %}
{% block title %} BillingApp - Emitere - factura intrare {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h2>Completati datele facturii de iesire.</h2>
        <form method="post" action="{% url 'exit_invoice' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form_2 %}
                <b><p>Client</p></b>
                {{ form_2.as_p }}
            {% endif %}
            <b><p>Furnizor</p></b>
            {% for company in your_company %}
                <p>Nume: {{ company.nume }}</p>
                <p>CUI: {{ company.cod_fiscal }}</p>
                <p>Nr. Inregistrare: {{ company.cod_onrc }}</p>
                {% if company.address_other_info == None %}
                <p>Adresa: judetul {{ company.judet }}, loc. {{ company.localitate }}, str. {{ company.street }}, nr. {{ company.street_no }}</p>
                {% else %}
                <p>Adresa: judetul {{ company.judet }}, loc. {{ company.localitate }}, str. {{ company.street }}, nr. {{ company.street_no }}, {{ company.address_other_info }}</p>
                {% endif %}
            {% empty %}
                <p>Completati datele firmei dumneavoastra <a href="{% url 'user_company' %}">aici</a> </p>
            {% endfor %}
            <input type="submit" value="Salveaza" class="btn btn-outline-secondary btn-sm">
            <a href="{% url 'home' %}" class="btn btn-outline-danger btn-sm">Anuleaza</a>
        </form>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        {{ form.media }}
    {% else %}
        <h1>Ups, nu ai voie aici...</h1>
    {% endif %}
{% endblock %}