{% extends 'base.html' %}
{% block content %}
    <h2>Bine ati venit pe pagina principala!</h2>
    {% if request.user.is_authenticated %}
        <div class="dropdown">
          <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            EMITE
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{%url 'entry_invoice' %}">Factura intrare</a></li>
            <li><a class="dropdown-item" href="{%url 'exit_invoice' %}">Factura iesire</a></li>
          </ul>
            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            VIZUALIZEAZA
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{%url 'entry_invoice_list' %}">Facturi de intrare</a></li>
            <li><a class="dropdown-item" href="#">Facturi de iesire</a></li>
              <li><a class="dropdown-item" href="{%url 'partners' %}">Parteneri</a></li>
          </ul>
       <div>
        <a href="{%url 'user_company' %}" class ="a_tag">INTREPRINDEREA TA</a>
       </div>
       <div>
        <a href="{%url 'logout' %}" class="a_tag">Deconectare</a>
       </div>
    {% else %}
        <a href="{%url 'register' %}" class="a_tag">Inregistrare</a>
        <a href="{%url 'login' %}" class="a_tag">Autentificare</a>
    {% endif %}
{% endblock %}