{% extends 'base.html' %}
{% block title %} BillingApp - Firma ta {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h2>Adauga partener nou.</h2>
            <form method="post" action="{% url 'partner_add' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Salvare" class="btn btn-outline-secondary btn-sm">
                <a href="{% url 'partners' %}" class="btn btn-outline-danger btn-sm">Anuleaza</a>
            </form>
    {% else %}
        <h1>Ups, nu ai voie aici...</h1>
    {% endif %}
{% endblock %}