{% extends 'base.html' %}
{% block title %} BillingApp - Modifica partener {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="alert alert-dark" role="alert">
        <i><h2>Modifica partener.</h2></i>
        </div>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Salveaza" class="btn btn-outline-success btn-sm">
                <a href="{% url 'partners' %}" class="btn btn-outline-danger btn-sm">Anuleaza</a>
            </form>
    {% else %}
        <h1>Ups, nu ai voie aici...</h1>
    {% endif %}
{% endblock %}