{% extends 'base.html' %}
{% block title %} BillingApp - Firma ta {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% if partners %}
            <h2>Lista partenerilor dumneavoastra:</h2>
                <table class="table table-striped table-hover">
            {% for partner in partners %}
                   <tr>
                    <td>
                        <p>{{ partner.nume }}</p>
                    </td>
                    <td align="right">
                        <a href="{% url 'partner_edit' partner.id %}" class="btn btn-outline-secondary btn-sm">Modifica</a>
                        <a href="{% url 'partner_delete' partner.id %}" onclick="return confirm('Sunteti sigur ca doriti sa stergeti datele?')" class="btn btn-outline-danger btn-sm">Sterge</a>
                    </td>
                   </tr>
            {% endfor %}
                </table>
        {% else %}
            <h2>Lista partenerilor este goala.</h2>
        {% endif %}
        <a href="{% url 'partner_add' %}" class="btn btn-outline-success btn-sm">Adauga partener</a>
    {% else %}
        <h1>Ups, nu ai voie aici...</h1>
    {% endif %}
{% endblock %}