{% extends 'base.html' %}
{% block title %} BillingApp - Firma ta {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% for company in your_company %}
        <div class="alert alert-dark" role="alert">
            <i><h2>Datele despre firma dumneavoastra:</h2></i>
        </div>
        <table class="table table-striped">
            <tr>
                <td><i>Denumire:</i> {{ company.nume }}</td>
            </tr>
            <tr>
                <td><i>CUI:</i> {{ company.cod_fiscal }}</td>
            </tr>
            <tr>
                <td><i>Regim TVA:</i> {{ company.tva }}</td>
            </tr>
            <tr>
                <td><i>Nr. Inregistrare:</i> {{ company.cod_onrc }}</td>
            </tr>
            <tr>
                <td>{% if company.address_other_info == None %}
                        <i>Adresa:</i> judetul {{ company.judet }}, loc. {{ company.localitate }}, str. {{ company.street }}, nr. {{ company.street_no }}
                    {% else %}
                        <i>Adresa:</i> judetul {{ company.judet }}, loc. {{ company.localitate }}, str. {{ company.street }}, nr. {{ company.street_no }}, {{ company.address_other_info }}
                    {% endif %}</td>
            </tr>

        </table>
            <a href="{% url 'user_company_edit' %}" class="btn btn-outline-secondary btn-sm">Editeaza</a>
            <a href="{% url 'user_company_delete' %}" onclick="return confirm('Sunteti sigur ca doriti sa stergeti datele?')" class="btn btn-outline-danger btn-sm">Sterge</a>
        {% empty %}
        <div class="alert alert-dark" role="alert">
            <i><h2>Va rugam sa introduceti datele despre firma dumneavoastra.</h2></i>
        </div>
            <form method="post" action="{% url 'user_company' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Salvare" class="btn btn-outline-success btn-sm">
                <a href="{% url 'home' %}" class="btn btn-outline-danger btn-sm">Anulare</a>
            </form>
        {% endfor %}
    {% else %}
        <h1>Ups, nu ai voie aici...</h1>
    {% endif %}
{% endblock %}